*{
        margin: 0;
    padding: 8px;
    box-sizing: border-box;
}


.Bsection{
    background-color:white;
}

 .composcd{
        display: flex;
    justify-content: space-between;
}
 /* .imgcontainer{
    
}  */
.textpart{
          
    margin-top: 145px;
    margin-right: 70px;

       

}
.textpart h1 {
    font-family: ui-monospace;
    font-size: 51px;
    border-bottom-style: inset;
}
.textpart h1 span{
       
     font-family: emoji;
     font-style: oblique;
    font-size: x-large;
    color: blue;
}
.textpart h3 {
        margin-top: 35px;
    font-family: serif;
    letter-spacing: 4px;
}
.textpart h3 span {
     color: blue;
}

.sectbasimtxt{
           display: flex;
    justify-content: space-evenly;
    margin-top: 173px;
    height: 160px;
    border-radius: -1;
    background-color: #6e63ff;
}

.txtimg{
     color: white;
    font-family: serif;
    font-size: 21px;
    margin-top: 26px;
}

.button{
        display: flex;
    justify-content: center;
    margin-top: -115px;
    
    margin-left: 143px;
}
.button .buttonbt{

      background-color: #6e63fe;

    margin-left: 54px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px;
}

.buttondudroit{
     height: 41px;
    width: 121px;
    color:#6e63fe;
    margin-left: 40px;
}


/* 





.txtimg{} */ 