.englobement{
        display: flex;
}

.partie-image{
       height: 504px;
    margin-left: -57px;
    margin-right: 116px;
}

/* 
 */
h2{
    color: #7f7f98;
    font-size: 38px;
    margin-bottom: 21px;
}
h6{
font-size: 14px;
    color: #2b49bb;
}
p{
        font-size: 17px;
    letter-spacing: 2px;
}


.webnots-notification-box {
       height: 255px;
    width: 489px;
 margin-top: 115px;
    text-transform: capitalize;
    
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #ffffff;
font-family: verdana, 'open sans', sans-serif;
margin-bottom: 25px;
padding: 10px 14px 10px 44px;
position: relative;
box-shadow: 0px 1px 5px #999;
}
.webnots-notification-box:before {
font-family: FontAwesome;
font-size: 21px;
left: 14px;
position: absolute;
}
.webnots-information {
background-color: #85bee4;
}
.webnots-information:before {
content: "\f129";
margin-left: 4px;
}
.webnots-question {
background-color: #f1c40f;
}
.webnots-question:before {
content: "\f128";
margin-left: 2px;
}
.webnots-tip {
background-color: #16a085;
}
.webnots-tip:before {
content: "\f0eb";
margin-left: 2px;
}